{% extends 'base.html.twig' %}

{% block title %}Accueil - H2o Fabrik Cocktail{% endblock %}

{% block content %}

    {% block img %} {% endblock %}

    <!--*******ALPHABET PALETTE*******-->
    <div class="container-fluid m-5">
        <div class="row mt-1">
            <div class="col text-center">
                <div class="btn-group flex-wrap" id="alphabetGroup" role="group">
                    <button class="btn btn-outline-secondary" onclick="letterPagination('a')"
                            type="button" >A
                    </button>
                    <button class="btn btn-outline-secondary" id="btnB" onclick="letterPagination('b')"
                            type="button">B
                    </button>
                    <button class="btn btn-outline-secondary" id="btnC" onclick="letterPagination('c')"
                            type="button">C
                    </button>
                    <button class="btn btn-outline-secondary" id="btnD" onclick="letterPagination('d')"
                            type="button">D
                    </button>
                    <button class="btn btn-outline-secondary" id="btnE" onclick="letterPagination('e')"
                            type="button">E
                    </button>
                    <button class="btn btn-outline-secondary" id="btnF" onclick="letterPagination('f')"
                            type="button">F
                    </button>
                    <button class="btn btn-outline-secondary" id="btnG" onclick="letterPagination('g')"
                            type="button">G
                    </button>
                    <button class="btn btn-outline-secondary" id="btnH" onclick="letterPagination('h')"
                            type="button">H
                    </button>
                    <button class="btn btn-outline-secondary" id="btnI" onclick="letterPagination('i')"
                            type="button">I
                    </button>
                    <button class="btn btn-outline-secondary" id="btnJ" onclick="letterPagination('j')"
                            type="button">J
                    </button>
                    <button class="btn btn-outline-secondary" id="btnK" onclick="letterPagination('k')"
                            type="button">K
                    </button>
                    <button class="btn btn-outline-secondary" id="btnL" onclick="letterPagination('l')"
                            type="button">L
                    </button>
                    <button class="btn btn-outline-secondary" id="btnM" onclick="letterPagination('m')"
                            type="button">M
                    </button>
                    <button class="btn btn-outline-secondary" id="btnN" onclick="letterPagination('n')"
                            type="button">N
                    </button>
                    <button class="btn btn-outline-secondary" id="btnO" onclick="letterPagination('o')"
                            type="button">O
                    </button>
                    <button class="btn btn-outline-secondary" id="btnP" onclick="letterPagination('p')"
                            type="button">P
                    </button>
                    <button class="btn btn-outline-secondary" id="btnQ" onclick="letterPagination('q')"
                            type="button">Q
                    </button>
                    <button class="btn btn-outline-secondary" id="btnR" onclick="letterPagination('r')"
                            type="button">R
                    </button>
                    <button class="btn btn-outline-secondary" id="btnS" onclick="letterPagination('s')"
                            type="button">S
                    </button>
                    <button class="btn btn-outline-secondary" id="btnT" onclick="letterPagination('t')"
                            type="button">T
                    </button>
                    <button class="btn btn-outline-secondary" id="btnU" onclick="letterPagination('u')"
                            type="button">U
                    </button>
                    <button class="btn btn-outline-secondary" id="btnV" onclick="letterPagination('v')"
                            type="button">V
                    </button>
                    <button class="btn btn-outline-secondary" id="btnW" onclick="letterPagination('w')"
                            type="button">W
                    </button>
                    <button class="btn btn-outline-secondary" id="btnX" onclick="letterPagination('x')"
                            type="button">X
                    </button>
                    <button class="btn btn-outline-secondary" id="btnY" onclick="letterPagination('y')"
                            type="button">Y
                    </button>
                    <button class="btn btn-outline-secondary" id="btnZ" onclick="letterPagination('z')"
                            type="button">Z
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--*******RESULTS*******-->
    <section id="results">
        <div class="container-fluid">
            <div class="row align-items-start" id="data"></div>
        </div>

    </section>

    <!--*******MODAL DETAILS*******-->
    <div aria-hidden="true" class="modal fade"
         id="modalDetails" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modal-cocktail-header">
                </div>
                <div class="modal-body" id="modal-cocktail">
                </div>
            </div>
        </div>
    </div>


<script src="{{ asset('assets/API/cocktail.js') }}"></script>

{% endblock %}
