body {
    position: relative;
    width: 100vw;
    height: auto;
}

.navbar-item-custom, .navbar-item-custom a{
    color: white;
}

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 25px;
    margin-top: 50px;
}

.product-container{
    margin-bottom: 130px;
}

.product-item {
    margin-top: 45px;
}
.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 3px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.product-page-price {
    font-size: 18px;
}

.cart-icon {
    height: 25px;
    padding-left: 20px;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.block-lg {
    max-width: 700px;
    margin: 0 auto;
}

.form-check {
    background-color: lightgray;
    padding: 20px 40px;
    margin-top: 15px ;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
}

.account-item {
    background-color: lightgray;
    padding: 70px;
}
.account-item a {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.account-item a:hover {
    color: white;
    text-decoration: none;
}

video {
    width: 100%;
    height: 100%;
}

/* Media Queries */

@media screen and (min-width: 992px) {
    .account-item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .account-item {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 766px) {
    .account-item {
        margin-bottom: 5px;
    }
    #titleHome {
       font-size: 25px;
    }
    #instructions{
        font-size: 15px;
    }
    #letter{
        width: 60%;
    }
}

