{% extends 'base.html.twig' %}

{% block title %}Commentaires - H2o Fabrik Cocktail{% endblock %}

{% block content %}

        {% for commentary in commentaires %}
        <div class="container mb-2">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="card card-row shadow-light-lg">
                        <div class="card-body">
                            <blockquote class="mb-0 text-center">
                                <p>{{ commentary.content }}</p>
                                <div class="blockquote-footer">
                                    <span class="h6 text-uppercase">Par {{ commentary.author }} le {{ commentary.createdAt|date('d/m/Y') }}</span>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
{% endblock %}

