{% extends 'base.html.twig' %}

{% block title %} Inscription - H2o Fabrik Cocktail {% endblock %}

{% block content %}

<div class="img-fluid " style="background-image: url('{{ asset('assets/img/inscription_cocktail.jpg') }}');">
    <div class="container-fluid text-white mt-5">
        <h2 class="pt-5 text-center">Inscription</h2>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}

        <div class="row">
            <div class="col-md-6 pt-2 mx-auto">
    {{ form(form) }}
            </div>
            </div>
        </div>
    </div>

{% endblock %}
